<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hontek.theme.dao.TbThemeDao" >
  
  <resultMap id="BaseResultMap" type="com.hontek.theme.model.TbTheme" >
    <id column="theme_id" property="themeId" jdbcType="INTEGER" />
    <result column="theme_name" property="themeName" jdbcType="VARCHAR" />
    <result column="theme_time" property="themeTime" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="ResultMapWithBLOBs" type="com.hontek.theme.model.TbTheme" extends="BaseResultMap" >
    <result column="theme_intro" property="themeIntro" jdbcType="LONGVARCHAR" />
  </resultMap>
  
  <resultMap type="com.hontek.comm.model.Tree" id="TreeVo">
	    <id column="theme_id" property="id" jdbcType="INTEGER"/>
	    <result column="theme_name" property="text" jdbcType="VARCHAR"/>
	</resultMap>
  
  <sql id="Base_Column_List" >
    theme_id, theme_name, theme_time, state, create_time
  </sql>
  
  <sql id="Blob_Column_List" >
    theme_intro
  </sql>
  
  <sql id="getCommon" >
    	from tb_theme where 1 = 1 
     <if test="params != null and params.themeId != null and params.themeId != ''"> 
		and theme_id = #{params.themeId,jdbcType=INTEGER}
	</if>
     <if test="params != null and params.themeName != null and params.themeName != ''" >
    	and  INSTR(theme_name,#{params.themeName,jdbcType=VARCHAR})>0 
    </if>
  	</sql>

  <select id="findById" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs" >
    select 
    <include refid="Base_Column_List" />,
    <include refid="Blob_Column_List" />
   <include refid="getCommon" />
  </select>
  
  <select id="findForTree" resultMap="TreeVo">
	    select theme_id,theme_name from tb_theme where state='2'
	</select>
  
  
   <select id="findPageList" parameterType="com.hontek.comm.util.SearchPageUtil" resultMap="ResultMapWithBLOBs" >
    select  <include refid="Base_Column_List" />,
    <include refid="Blob_Column_List" /> 
   	<include refid="getCommon" />
  </select>
  
  <select id="getCount" parameterType="com.hontek.comm.util.SearchPageUtil" resultType="java.lang.Integer">
		SELECT COUNT(*) ct 
  	<include refid="getCommon" />
	</select>
  
  
  <delete id="delete" parameterType="java.lang.Integer" >
    delete from tb_theme
    where theme_id = #{themeId,jdbcType=INTEGER}
  </delete>
  
  
  <insert id="add" parameterType="com.hontek.theme.model.TbTheme" >
    insert into tb_theme (theme_id, theme_name, theme_time, 
      state, create_time, theme_intro
      )
    values (#{themeId,jdbcType=INTEGER}, #{themeName,jdbcType=VARCHAR}, #{themeTime,jdbcType=VARCHAR}, 
      #{state,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{themeIntro,jdbcType=LONGVARCHAR}
      )
  </insert>
 
  <update id="update" parameterType="com.hontek.theme.model.TbTheme" >
    update tb_theme
    <set >
      <if test="themeName != null" >
        theme_name = #{themeName,jdbcType=VARCHAR},
      </if>
      <if test="themeTime != null" >
        theme_time = #{themeTime,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="themeIntro != null" >
        theme_intro = #{themeIntro,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where theme_id = #{themeId,jdbcType=INTEGER}
  </update>
  
</mapper>